.background {
    background-color: rgb(100, 0, 0);

}
.cabeçalho {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    
}