* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    }
    
    .cabeçalho {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .cabeçalho-título {
    color: #740000;
    font-size: 54px;
    }
    
    