.background {
    background-color: rgb(100, 0, 0);

}
.cabeçalho {
    background-color: rgb(100, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    
}